<div class="container mt-5 mb-5">

    
    <h1 class="text-center">About</h1>

    <p class="mt-3 mb-3">MyResto is a food and recipes website owned by Times Group.
         A venture that focuses on user generated content, videos, articles and 
         recipes from all over the world, MyResto carries the legacy of The 
         Times of India in content and quality. The website has around 10000 recipes
          with more being added daily. It is a one stop destination for every foodie
           who is looking for latest food news, recipes based on various cuisines, 
           dietary needs, ingredients,
         occasions and categories and videos teeming with engaging content. </p>

    <img class="myresto-img" src="../../../assets/images/Myresto.jpg" width="100%" alt="">
    
    <p class="mt-3 mb-3 about-text" >With its ever growing readership, MyResto already has over five million
         monthly unique users . From step by step recipes to visually appealing 
         images, MyResto has everything a foodie is looking for. Features on
          latest food trends, food news, kitchen hacks and tips and videos that 
          make recipes easy even for someone who is not a pro in the kitchen, make
           this website stand out. Based on calorie count, time taken in preparing
            a dish, ingredients and dietary requirements, you can make your own 
            diet chart or weekly menu plan.
    </p>

    <div></div>
</div>