<ng-container *ngIf="product.length !=0">
    <div class="container">
        <div class="card-table baseBlock">
            <div class="card-product">
                <table class="table table-responsive ">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of product;let i =index">
                            <td>{{i+1}}</td>
                            <td>{{item.foodName}}</td>
                            <td><img  style="height: 100px;" src="{{item.foodImage}}" alt=""></td>
                            <td style="width: 25%;">{{item.FoodDetail}}</td>
                            <td style="width: 25%;">{{item.foodPrice}}</td>
                        
                            
                        </tr>

                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="product.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="text-center">
            <img src="https://candleroses.com/images/Cart-empty.gif" alt="">
            <h4>Your cart is empty!</h4>
            <!-- <h6>add item to it now</h6> -->
            <button routerLink="/menu" class="btn btn-info">Continue Shopping</button>
        </div>
    </div>
</ng-container>