form{
    width: 50%;
    margin-top: 10%;
}
.btn{
    border-radius: 10px;
    
}


.place:hover{
    background-color: rgb(17, 143, 13);
    color: white;
    
}
img{
    
    /* padding: 10px 20px; */
    border-radius: 10px;
    width: 100%;
    height: 450px;
    object-fit: cover;
}